<%

_.each(videoObjects, function(videoObject){
console.log(videoObject.thumbURL);

<li class="video" id="<%= videoObject.videoServiceId %>">
    <div class="img">
        <img class="<%= videoObject.videoServiceId %>" src="<%= videoObject.thumbURL %>" />
    </div>

    <div class="options">
        <a class="fav" title="" rel="" href="#"></a>
        <a class="share" href="#"></a>
        <a class="dollar" target="_blank" href="<%= videoObject.dolloar %>"></a>
        <a class="info" target="_blank" href="<%= videoObject.dollar %>"></a>
        <input class="checkBox" id="<%= videoObject.videoServiceId %>_checkbox" type="checkbox"/>
    </div>
</li>
}); %>




