/* 
    Document   : default
    Created on : Dec 7, 2011, 3:35:21 AM
    Author     : Robert Ok
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body, div, ul,ol, li, p, td, tr, table, h1, h2, h3, h4, h5, h6 {
    margin:0px;
    padding:0px;
}
ul{
    list-style-type: none;
}
body{
    width:100%;
    height:100%;
    overflow:hidden;
}
div#application{
    width:100%;
    overflow:hidden;
    height:100%;
}
.lgradient{
    background: #606c88; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNmM4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjRjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* IE10+ */
background: linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-8 */
}
.hgradient{
     background: #606c88; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNmM4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjRjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #606c88 0%,#3f4c6b 100%); /* IE10+ */
background: linear-gradient(left, #606c88 0%,#3f4c6b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-8 */
}
div#header{
    width:100%;
    height:140px;
    
border-bottom: solid 4px #fff;
-moz-box-shadow:  0px 0px 20px  #444;
-webkit-box-shadow:   0px 0px 20px  #444;
box-shadow:  0px 0px 20px  #444;
}
div#header_left{
    float:left;
    width:30%;
    height:100%;
}
div#header_left ul li{
    float:left;
    width:40%;
    height:100%;
}
ul#header_left_wrapper{
    width:100%;
    height:100%;
}
li#header_logo{
    width:10%;
    height:100%;
    float:left;
}
li#header_options{
    width:50%;
    height:100%;
    float:left;
    overflow:hidden;
}
p.header_option{
    float:left;
    margin-left:5px;
    width:30px;
    height:30px;
    margin-top: 30%;
    border-radius:4px;
    border:solid 1px #8f8f8f;
}
div#header_right{
    float:left;
    width:30%;
    height:100%;
}
div#header_middle{
    float:left;
    width:38%;
    height:100%;
}
ul#header_middle_wrapper{
    
}
li#search_wrapper{
    width:80%;
    height:40%;
    padding-top:10%;
    float:left;
}
li#sort_wrapper{
    width:20%;
    height:50%;
    float:left;
    padding-top:10%;
}
input#search{
    width:100%;
    height:40px;
    text-align:center;
    font-size:24px;
    color:#4f4f4f;
    border-radius:8px;
    border:solid 1px #3f4c6b;
}
input#search:focus{
    border:solid 1px #8f8f8f;
    
}
li#more{
    margin-left:10px;
    margin-top:55px;
    width:68px;
    height:18px;
    padding: 10px 10px 10px 10px;
    border-radius:4px;
    border:solid 1px #8f8f8f;
    float:left;
    text-align:center;
    font-size:18px;
    text-shadow: 0px 0px 2px #4f4f4f;
    color:#8f8f8f;
}
div#scroll_left,div#scroll_right{
    width:40px;
    height:400px;
    opacity:0.8;
    float:left;
    top:180px;
    position:fixed;
   
border-radius:4px;
border:solid 1px #fff;
}
div#scroll_left{
    left:5px;
    
}
div#scroll_right{
    right:300px;
}
div.content{
    padding:20px 0px;
    overflow:hidden;
    float:left;
    margin-left:40px;
    width:980px;
    height:460px;
}
div#sidebar{
    width:280px;
    height:600px;
    float:right;
    margin-left:50px;
    border-left: solid 2px #fff;
    -moz-box-shadow:  0px 0px 10px  #000;
    -webkit-box-shadow:   0px 0px 10px  #000;
    box-shadow:  0px 0px 10px  #000;
}
ol{
    list-style-type: none;
    padding-bottom:60px;
    width:300px;
    height:460px;
}
li.spacer{
    width:100%;
    height:60px;
}
li.video_controls,ul.video_controls_wrapper{
    width:300px;
    height:60px;
}
ul.video_controls_wrapper{
    display:none;
    
}
ul.video_controls_wrapper li{
    width:48px;
    margin:20px 0px 0px 7px;
    height:18px;
    font-weight:bold;
    float:left;
    border-radius:4px;
    border:solid 1px #8f8f8f;
    text-align:center;
}
div.video_services:hover li.video_controls ul.video_controls_wrapper{
    display:block;
    position:absolute;
}
li.video_img:hover{
    background: #606c88; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNmM4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjRjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* IE10+ */
background: linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-8 */
}
li.video_img{
    width:118px;
    height:118px;
    float:left;
    margin: 10px 0px 0px 10px;
    border:solid 1px #4f4f4f;
    text-align: center;
    border-radius:4px;
    background: #606c88; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNmM4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjRjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #606c88 0%,#3f4c6b 100%); /* IE10+ */
background: linear-gradient(left, #606c88 0%,#3f4c6b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-8 */
}
li.video_img_container img{
    margin:20px auto;
    border:solid 1px #8f8f8f;
    z-index: 10;
    height:60px;
    overflow:hidden;
   
}
ul.video_img_wrapper{
    
}
li.video_img_container{
    height:118px;
    width:118px;
    
}
li.video_options_wrapper{
    display:none;
    text-align:center;
}
li.video_img:hover ul.video_img_wrapper li.video_options_wrapper{
    display:block;
    height:30px;
    margin:-30px auto;
    border-top:solid 1px #8f8f8f;
    width:118px;
    border-radius:2px;
    z-index: 20;
}
ul.video_options_wrapper li{
    width:24px;
    height:18px;
    margin:5px 5px;
    float:right;
    border:solid 1px #8f8f8f;
    border-radius:4px;
  
}
li.video_img:hover img{
    border:solid 1px #000;
}
li.video_info{
    display:none;
    background: #606c88; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNmM4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjRjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* IE10+ */
background: linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-8 */
}

div.video_services{
    width:300px;
    height:460px;
    overflow-x:scroll;
    float:left;
    border:solid 2px #2f2f2f;
    margin: 0px 0px 20px 20px;
    border-radius:8px;
    overflow-y:hidden;
    
    
}
div.video_services:hover{
 -moz-box-shadow: 0px 0px 40px #000;
  -webkit-box-shadow: 0px 0px 40px #000;
  box-shadow: 0px 0px 40px #000;
}
li.video_pagination {
    display:none;
}
div.video_services:hover li.video_pagination{
    display:block;
    height:60px;
    width:300px;
    margin-top:338px;
    position:absolute;
    border-top: solid 1px #8f8f8f;
 
}

li.video{
    width:100%;
    height:70%;
    float:left;
    overflow:none;
    padding:0px 0px 50px 0px;
}

ul.video_wrapper{
    width:100%;
    height:100%;
    overflow:auto;
}
li.video_pagination p{
    width:100px;
    height:25px;
    padding-top:5px;
    float:left;
    margin:15px 0px 0px 28px;
    border:solid 1px #8f8f8f;
    border-radius:4px;
    text-align:center;
}
.button{
  -moz-box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}
.button:hover{
   -moz-box-shadow: 0px 0px 2px #000;
  -webkit-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.button:active{
    -moz-box-shadow: inset 0px 0px 3px #000;
  -webkit-box-shadow:inset 0px 0px 30px #000;
  box-shadow:inset 0px 0px 3px #000;
}
ol#fotolia{
    width:300px;
    height:100%;
    overflow:hidden;
}
ul.grid{
    width:300px;
}
li.control{
    width:300px;
    height:60px;
    
}
ul.control_wrapper{
    
}
li.scroll_left{
}
li.scroll_right{
    
}
li.control_header{
    
}
li.control_body{
    height:60px;
    width:400px;
    border-radius:8px;
}
li.control_footer{
    float:right;
    width:140px;
    margin-top:5px;
    margin-right:0px;
    text-align:center;
}
ul.control_wrapper p{
    float:left;
    height:20px; 
    border-radius:4px;
    margin-left:5px;
}
p.x1{
    width:18px;
    background-color:#333;
    border:solid 1px #000;
}
p.x2{
    width:38px;
    border:solid 1px #333;
    background-color:#666;
}
p.x3{
    width:58px;
    border:solid 1px #666;
     background-color:#999;
   
}
.tooltip {
	display:none;
	background:transparent url(../images/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}
div.pagination{
    height:40px;
    position:fixed;
    bottom:0px;
    right:40%;
    margin:0px auto;
    width:400px;
    
}
ul.pagination_wrapper{
    width:200px;
    height:20px;
    margin:10px auto;
}
ul.pagination_wrapper li{
    width:100px;
    height:20px;
    font-size:18px;
    float:left;
    text-align:center;
}