/* Makeshift CSS Reset */  
{  
    margin: 0;  
    padding: 0;  
}  
      
/* Tell the browser to render HTML 5 elements as block */  
aside, nav, article {  
	display: block;  
}  
      
body {  
	margin: 0 auto;     
    font-family: Arial, Helvetica, sans-serif;  
    background: #ffffff;  
}   
a{
	outline:none;
	border:0;
}
img{
	border:none;
}     
 
h2 {  
 	font-size: 28px;      
}  
    
h3 {  
	font-size: 18px;  
    line-height: 22px;      
}  

ul,ol {
	margin:0;
	padding:0;
}
     
p {  
	padding-bottom: 0px;  
}
.clear{
	margin:0px;
	padding:0px;
	height:1px;
	font-size:1px;
	line-height:1px;
	clear:both;
	display:block;	
	overflow:hidden;
}
header{
	display:block;
	background:url(../images/nav-bg-repat.png) repeat-x right;
	width:100%;
	height:60px;
}
.header-wrap{
	background:url(../images/nav-bg.png) no-repeat;
	margin:0 auto;
	width:100%;
	height:60px;	
}
.header-left{
	float:left;
	margin-left: 30px;
	width:10%;
	
}
.header-center{
	float:left;
	width:76%;
}
.header-right{
	float:right;
	width:11%;
	margin-top:15px;	
}
.header-right ul{
	text-align:center;
	margin:0px;
	padding:0px;
}
.header-right ul img{
	vertical-align: inherit;
}
.header-right .member-login{
	display:inline;	
	font-size:20px;
	color:#fff;
	padding-left: 10px;
}
.header-right .member-login a{
	text-decoration:none;
	color:#fff;
	font-size:12px;
}


.logo-area{			
	
}
.header-area-left{	
	width:100px;	
	float:left;
}
.logo{
	text-align:center;
}
nav {		
	width: 100%;
	height:110x;
	/*background:url(../images/nav-bg-repat.png) repeat-x right;*/
}
.nav-wrap{
	background:url(../images/nav-bg.png) no-repeat;
	min-width:1024px;
	margin: 0 auto;
	height: 60px;
}
.nav-links-left{
	text-align:center;
}
.nav-links-left ul {
	margin: 0 auto;	
	list-style: none;
	display: inline-block;
	padding:0px;
}
.nav-links-left ul li {
	float: left;
	padding: 0 5px;
}
.nav-links-left ul li img{
	margin-top: 5px;
}

.nav-links-left ul li a {		
	color: #777;
}

.nav-links-left ul li a:hover {
	color: #fff;
}
.nav-links-left ul li.logo{
	

}
.nav-links-left ul li.links{

}
.nav-links-left ul li.selected a {
	color: #fff;
}

.nav-links-left ul li.search{	
	background:url(../images/searchbox-bg.png) no-repeat;
	height: 25px;
    margin: 15px 0px 0 35px;
}
.nav-links-left ul li.dropdown{	
	background:url(../images/left-bpx.png) no-repeat;
	height: 25px;   
	margin: 15px 10px 0 0px; 
}
.dropdown .drop-text{
	background:url(../images/arrow-duwn.png) right center no-repeat;
	color:#7038a0;
	width:50px;
	font-size:12px;
	padding:5px 5px 0px 5px;
	
}
.nav-links-left ul li.advance-search{
	margin-left:10px;

}
.nav-links-left ul li.advance-search a{

}
.search .input-box{
	background-color: #FFFFFF;
    border: medium none;
    border-radius: 5px 0 0 0;
    color: #666666;
    height: 22px;
    margin-top: 1px;
    padding: 2px 5px 0;
    text-align: center;
    width: 235px;
	
}
.nav-links-left ul li.right-icon{
	padding: 5px 2px;

}

.main {
	width:auto;
	padding-right:220px;
}
.conten{
	margin: 50px 0;
	width:100%;
}
.conten-wrap{
	margin:0 105px;
	position:relative;
}
.content-left{
	float:left;
	width:600px;
}
.content-left img{
	float: left;
    padding: 0 6px 5px 0;


}
#intro {	
	width:500px;
	margin-bottom: 15px;
}
#intro h2 {	
	font-weight: normal;
	margin:0px;
	color:#77538f;
}
#intro .more-link{}
#intro .more-link a{ 
	text-decoration:none;
	color:#ff9c5d; 
	font-size:14px;
}
.cont{
	width:380px;
	padding-left:40px;
	font-size:12px;
	line-height:18px;	
}
#intro p {
	padding: 0;
	color: #000000;
	margin-bottom:0px;
	width:380px;
}
.blogPost{
	background: url("../images/blog-bg-left.png") no-repeat left ;
    height: 80px;
    margin-left: 40px;
    width: 500px;
}
.blogPost .bolg-title{
	 color: #FFFFFF;
    font-size: 18px;
    padding: 25px 0 0 15px;
    width: 300px;
}
.blogPost .videos{	
    margin-top: 35px;
    width: 380px;
}
.videos ul{
	list-style: none outside none;
    padding-left: 0;
}
.videos ul li{	
    float: left;    
	padding: 0 5px 10px 0;
}
.videos ul li .video-text{
	width: 110px;
	color:#000;
	font-size:11px;
}
.blogPost .bottom-area{
	margin-top:30px;
	float:left;	
}
.blogPost .bottom-area .btn{
	/*margin-top: 25px;*/
}
aside{
	float:left;
	width:400px;
}
.icons{
	margin-top: 30px;
    width: 380px;
	margin-left: 15px;
	height: 200px;
}
.icons ul{
	list-style: none outside none;
    padding-left: 0;
}
.icons ul li{
	float: left;
    padding: 0 20px 18px 0;
}
.right-blogPost{
	background: url(../images/blog-bg-right.png) no-repeat left ;
    height: 80px;
    margin-left: 10px;
    width: 500px;

}
.right-blogPost .bolg-right-title{
	 color: #FFFFFF;
    font-size: 18px;
    padding: 25px 0 0 15px;
    width: 300px;
}

footer{
	background: none repeat scroll 0 0 #222222;	
	width: 100%;	
}
.footer-wrap{
	width:1024px;
	margin:0 auto;
}
.footer-content{
	color: #777777;
    display: table;
    margin-left: 0px;
    padding: 44px 0;   
	width:100%;
}
.footer-left{
	float:left;
	width:600px;

}
.footer-right{	
	
}
.footer-title{
	border-bottom:1px solid #5d5a5b;

}
footer h3{
	color:#ffffff;
	font-size:14px;
	margin: 0;

}
.footer-content section {
    display: table-cell;
    width: 300px;
}
.footer-content #main{
	padding-right: 20px;
}
.footer-content #main ul{
	list-style:none;
	padding-left: 0;
}
.footer-content #main ul li{

}
.footer-content #main ul li a{
	text-decoration:none;
	color:#5d5a5b;
}

.footer-content #links{
	padding-right: 20px;
}

.footer-content #links ul{
	list-style:none;
	padding-left: 0;
}
.footer-content #links ul li{

}
.footer-content #links ul li a{
	text-decoration:none;
	color:#5d5a5b;
}
.footer-content #links ul li a.footer-icons{ 
	float:left;
	margin-left:5px;
}

.footer-content #resouse{
	padding-right: 20px;
}
.footer-content #resouse ul{
	list-style:none;
	padding-left: 0;
}
.footer-content #resouse ul li{

}
.footer-content #resouse ul li a{
	text-decoration:none;
	color:#5d5a5b;
}
.sign-up{ float:right; width:290px; font-size:14px; font-family:normal; text-align:center; color:#FFFFFF; margin-top:50px;}
.copyright{ 
	padding-top:10px;
	color:#5d5a5b;
	font-size:12px;
}
.copyright a{
	text-decoration:none;
	color:#5d5a5b;
}



/*********************/
ul.services-list {
	float:left;
	width:100%;
	height:550px;
        overflow:hidden;
}

ul.services-list li.service{
	display:block;
	float:left;
	width:auto;
	width:200px;
	padding:0 10px 20px 0px;
	margin-bottom:10px;
}

ul.services-list li .heading {
	
	width:auto;
	height:84px;
	background:url(../images/pond-key.png) 0px 2px no-repeat;
	padding:0 0 0 80px;
}

ul.services-list li .heading .wrap {
	width:auto;
	height:84px;
	background:url(../images/hd-bg.jpg) 0 21px  repeat-x;
	padding:0;
}


ul.services-list li .heading .hd{
	float:left;
	width:auto;
	height:41px;
	line-height:40px;
	background:url(../images/hd-bg.jpg);
	padding:0;
	margin:21px 0 23px;
	color:#FFF;
	display:none;
}

ul.services-list li .heading .r1,
ul.services-list li .heading .r2,
ul.services-list li .heading .r3 {
	float:right;
	width:auto;
	height:16px;
	padding:0;
	margin:0;
	clear:right;
}

ul.services-list li .heading .r2 {
	height:41px;
	margin:5px 0;
	background:url(../images/pond-right.jpg) no-repeat right;
	padding:0 8px 0 0;
}

ul.services-list li .heading .r2 span {
	background:url(../images/hd-bg.jpg);
	line-height:27px;
	float:right;
	color:#FFF;
	padding: 7px 0 0 10px;
	width:97px;
}

ul.services-list li .heading .btn {
	float:left;
	width:auto;
	height:16px;
	margin:0 0 0 4px;
}

/*ul.services-list li .mid-cont {
	float:left;
	width:auto;
	padding:0;
	clear:left;
	width:100%;
	height:240px;
	overflow:hidden;
}

ul.services-list li .mid-cont ul {
	padding:0;
	margin:0 39px;
	float:left;
}

ul.services-list li .mid-cont ul li {
	width:112px;
	border-bottom:1px dotted #a5a5a5;
	display:block;
	float:left;
	padding:0;
	margin:10px 0 10px 10px;
}

ul.services-list li .mid-cont ul li .img {
	width:112px;
	height:64px;
}

ul.services-list li .mid-cont ul li .text {
	width:112px;
	height:auto;
	margin:5px 0;
}
*/
/*ul.services-list li .video-container {
	float:left;
	width:auto;
	padding:0;
	clear:left;
	width:100%;
}*/
li.service{
    float:left;
    width:300px;
    height:100%;
}
ul.services-list li .video-container ul {
	padding:0px 0px 20px 0px;
	margin:0 39px;
	float:left;
}

ul.services-list li .video-container ul li {
	padding:0;
}

ul.services-list li .video-container ul li .box {
	width:112px;
	border-bottom:1px dotted #a5a5a5;
	display:block;
	float:left;
	padding:0;
	margin:10px 0 10px 5px;
}

ul.services-list li .video-container ul li .box .img {
	width:112px;
	height:64px;
}

ul.services-list li .video-container ul li .box .text {
	width:112px;
	height:auto;
	margin:5px 0;
}

.sidebar-right {
	float:right;
}

.sidebar-right .sponser-contaienr {
	padding: 80px 0 0 80px;
	text-align:right;
	background:url(../images/pond-sponser-bg.png) no-repeat;
	width:130px;
	float:right;
	margin-right:10px;
}

.sidebar-right .sponser-contaienr a {
	margin-bottom:10px;
	float:right;
}

.p-arrow-left {
	position:absolute;
	left:-100px;
	top:95px;
}
.p-arrow-right {
	position:absolute;
	right:-100px;
	top:95px;
}

.video-container {
    clear: left;
    float: left;
    height: 475px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    width: 100%;
}

.videos{
	float:left;
	margin-left:10px;
	padding:0px;
}
.video{
    border-bottom: 1px dotted #A5A5A5;
    display: block;
    float: left;
    margin: 10px 0px 0px 10px;
    padding: 0;
    width: 112px;
}
.videos .video .img, .videos .video .img img{
    height: 64px;
    width: 112px;
}

.videos .video .text{
    height: auto;
    margin: 5px 0;
    width: 112px;
}

/** New Styles */

.video .options{float:left;}
.video .options a{float:left;padding:2px; width:19px;height:18px;background-image: url("../images/pond-text.jpg");}
.video .options a:hover{background-image: url("../images/pond-text_hover.jpg");}

.video .options a.fav{}
.video .options a.share{background-position: -24px;}
.video .options a.dollar{background-position: -48px;}
.video .options a.info{background-position: -70px;}
.video .options .checkBox{float:left;}

div.loadingImage{background-image: url("../images/ajax-loader.gif");width:32px;height:32px;position: absolute;left:10px;top:10px;display: none;}


/** End of New Styles **/

/** Tool tip styles **/
#dhtmltooltip{
position: absolute;
width: 400px;
height:260px;
text-align:center;
border: 2px solid black;
padding: 2px;
background-color: #888;
visibility: hidden;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}